<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">

</head>
<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Main</a>
        <a class="p-2 text-dark" href="#">Information</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Documentation</a>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-4 offset-1">
                <h1>Weather in your city</h1>

                <form action="" method="POST">{% csrf_token %}
                    <label for="city">City</label>
                    {{ form.name }}
                    <input type="submit" name="send" value="Add city"
                           class="mt-2 btn btn-danger">
                </form>

            </div>
            <div class="col-5 offset-2">
                <h1>Information</h1>

                {% for info in all_info %}

                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-9">
                            <b>City: </b> {{ info.city }}<br>
                    <b>Temperature: </b> {{ info.temp }}<sup>o</sup><br>
                    </div>
                    <div class="col-2 offset-1">
                        <img src="http://openweathermap.org/img/w/{{ info.icon }}.png"
                         alt="weather_icon" class="img-thumbnail">
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>

</body>
</html>